{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Cofiren CSS -->
    <link rel="stylesheet" href="{% static "css/base.css" %}"></link>
    {% block css %}{% endblock %}

    <!-- Google Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

    <title>Cofiren - Expert-Comptable et Conseil Fiscal</title>
  </head>

  <body>
    <div class="header container-fluid sticky-top">
      <div class="d-flex flex-row">
        <div class="p-2">
          <a href="/">
            <img class="img-fluid" src="{% static "img/cofiren.png" %}" alt="Cofiren Logo" width="500em"/>
          </a>
        </div>
        <div class="ml-auto btn-group-vertical" role="group" aria-label="communication" id="communication">
          <a class="m-2" href="tel:003226465020">
            <i class="material-icons nav-phone">phone</i>
          </a>
          <a class="m-2" href="mailto:cofiren@cofiren.be">
            <i class="material-icons nav-mail">email</i>
          </a>
        </div>
      </div>
      <nav class="navbar navbar-expand-sm navbar-dark p-0" style="font-family: 'Roboto', sans-serif;">
        <a class="navbar-brand" href=""></a>
        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            {% if request.get_full_path == "/" %}
              <li class="nav-item active">
                <a class="nav-link" href="/">Présentation</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/">Présentation</a>
              </li>
            {% endif %}
            {% if request.get_full_path == "/historique" %}
              <li class="nav-item active">
                <a class="nav-link" href="historique">Historique</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="historique">Historique</a>
              </li>
            {% endif %}
            {% if request.get_full_path == "/services" %}
              <li class="nav-item active">
                <a class="nav-link" href="services">Services</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="services">Services</a>
              </li>
            {% endif %}
            {% if request.get_full_path == "/contact" %}
              <li class="nav-item active">
                <a class="nav-link" href="contact">Contact</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
            {% endif %}
            {% if request.get_full_path == "/liens" %}
              <li class="nav-item active">
                <a class="nav-link" href="liens">Liens utiles</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="liens">Liens utiles</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>

    {% block presentation %}
    {% endblock %}

    {% block historique %}
    {% endblock %}

    {% block services %}
    {% endblock %}

    {% block contact %}
    {% endblock %}

    {% block liens %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>

  <footer>
    <div class="container-fluid footer">
      <p>
        <i class="material-icons">copyright</i>
      </p>
    </div>
  </footer>
</html>
