{% extends 'home/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "css/historique.css" %}"></link>{% endblock %}

{% block historique %}
<div class="timeline my-3">
  <div class="container right">
    <div class="content shadow p-3 mb-5 bg-white rounded">
      <h2>4 mars 2002</h2>
      <p>Alberto R. STRUGLIA obtient le titre de Conseil Fiscal</p>
    </div>
  </div>
  <div class="container left">
    <div class="content shadow p-3 mb-5 bg-white rounded">
      <h2>14 mars 1988</h2>
      <p><strong>"COFIREN"</strong> s.p.r.l est admise à l'I.E.C</p>
    </div>
  </div>
  <div class="container right">
    <div class="content shadow p-3 mb-5 bg-white rounded">
      <h2>14 décembre 1987</h2>
      <p>Alberto R. STRUGLIA obtient le titre d'Expert-Comptable</p>
    </div>
  </div>
  <div class="container left">
    <div class="content shadow p-3 mb-5 bg-white rounded">
      <h2>1<sup>er</sup> avril 1983</h2>
      <p><stron>"COFIREN"</stron> s.p.r.l est reprise par Alberto R. STRUGLIA</p>
    </div>
  </div>
  <div class="container right">
    <div class="content shadow p-3 mb-5 bg-white rounded">
      <h2>7 novembre 1970</h2>
      <p>Changement de dénomination pour <strong>"COFIREN"</strong> s.p.r.l</p>
    </div>
  </div>
  <div class="container left">
    <div class="content shadow p-3 mb-5 bg-white rounded">
      <h2>21 août 1970</h2>
      <p>Constitution de "OGECO" s.p.r.l (ancienne dénomination) par Monsieur Raoul RENARD</p>
    </div>
  </div>
</div>
{% endblock historique %}
