{% extends 'home/base.html' %}

{% block presentation %}
<div class="row justify-content-around">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="avatar.png" alt="avatar" />
    <div class="card-body">
      <h5 class="card-title">Avatar</h5>
      <p class="card-text">Some quick example text to bluid on the card title and make up the bulk of the card's content.</p>
      <a href="#linkedinavatar" class="btn btn-primary">LinkedIn</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="avatar.png" alt="avatar" />
    <div class="card-body">
      <h5 class="card-title">Avatar</h5>
      <p class="card-text">Some quick example text to bluid on the card title and make up the bulk of the card's content.</p>
      <a href="#linkedinavatar" class="btn btn-primary">LinkedIn</a>
    </div>
  </div>
</div>
{% endblock presentation %}
