{% extends 'home/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "css/liens.css" %}"></link>{% endblock %}

{% block liens %}
<div class="container-fluid">
    <div class="row">
        <a href="https://www.iec-iab.be/fr/Pages/default.aspx"><img class="img-fluid" src="{% static "img/iec.png" %}" alt="Expert Comptable Conseil Fiscal "/></a>
        <a href="https://www.ibr-ire.be/fr"><img class="img-fluid" src="{% static "img/ire.png" %}" alt="iec"/></a>
        <a href=""><img class="img-fluid" src="{% static "img/bibf_ipcf.jpeg" %}" alt="iec"/></a>
        <a href=""><img class="img-fluid" src="{% static "img/spff.jpeg" %}" alt="iec"/></a>
    </div>
    <div class="row">
        <a href=""><img class="img-fluid" src="{% static "img/spfj.png" %}" alt="iec"/></a>
        <a href=""><img class="img-fluid" src="{% static "img/onss.png" %}" alt="iec"/></a>
        <a href=""><img class="img-fluid" src="{% static "img/ssei.png" %}" alt="iec"/></a>
        <a href=""><img class="img-fluid" src="{% static "img/moniteur_belge.jpg" %}" alt="iec"/></a>
    </div>
    <div class="row">
        <a href=""><img class="img-fluid" src="{% static "img/bnb.jpg" %}" alt="iec"/></a>
        <a href=""><img class="img-fluid" src="{% static "img/bce.jpg" %}" alt="iec"/></a>
        <a href=""><img class="img-fluid" src="{% static "img/ipi_biv.png" %}" alt="iec"/></a>
    </div>
</div>
{% endblock liens %}
