{% extends 'home/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "css/liens.css" %}"></link>{% endblock %}

{% block liens %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <a href="https://www.iec-iab.be/fr/Pages/default.aspx"><img class="img-link img-thumbnail" src="{% static "img/iec_tn.jpg" %}" alt="Expert Comptable Conseil Fiscal "/></a>
        <a href="https://www.ibr-ire.be/fr"><img class="img-link img-thumbnail" src="{% static "img/ire_tn.jpg" %}" alt="iec"/></a>
        <a href=""><img class="img-link img-thumbnail" src="{% static "img/bibf_ipcf_tn.jpg" %}" alt="iec"/></a>
        <a href=""><img class="img-link img-thumbnail" src="{% static "img/spff_tn.jpg" %}" alt="iec"/></a>
    </div>
    <div class="row d-flex justify-content-center">
        <a href=""><img class="img-link img-thumbnail" src="{% static "img/spfj_tn.jpg" %}" alt="iec"/></a>
        <a href=""><img class="img-link img-thumbnail" src="{% static "img/onss_tn.jpg" %}" alt="iec"/></a>
        <a href=""><img class="img-link img-thumbnail" src="{% static "img/ssei_tn.jpg" %}" alt="iec"/></a>
        <a href=""><img class="img-link img-thumbnail" src="{% static "img/mb_tn.jpg" %}" alt="iec"/></a>
    </div>
    <div class="row d-flex justify-content-center">
        <a href=""><img class="img-link img-thumbnail" src="{% static "img/bnb_tn.jpg" %}" alt="iec"/></a>
        <a href=""><img class="img-link img-thumbnail" src="{% static "img/bce_tn.jpg" %}" alt="iec"/></a>
        <a href=""><img class="img-link img-thumbnail" src="{% static "img/ipi_biv_tn.jpg" %}" alt="iec"/></a>
    </div>
</div>
{% endblock liens %}
