{% extends 'home/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "css/presentation.css" %}"></link>{% endblock %}

{% block presentation %}
<div class="container-fluid">
  <div class="row">
    <img class="img-fluid mt-3 mr-3 ml-3 mb-4 business" src="{% static "img/business.png" %}" alt="Business"/>
  </div>
</div>
<div class="container" style="font-family: 'Roboto', sans-serif;">
  <div class="row mx-1 text">
    <p class="text-justify">
      <strong>« Cofiren »</strong> est active dans le domaine de <strong>l’Expertise Comptable et Fiscale</strong> depuis 1970. Elle a ainsi logiquement suivi l’évolution
      du secteur vers le <strong>conseil</strong>.
    </p>
    <p class="text-justify">
      Nous nous appuyons donc sur une solide <strong>expérience</strong> afin de répondre au mieux aux exigences de nos Partenaires et de leur
      proposer des <strong>services de qualité</strong>.
    </p>
    <p class="text-justify">
      Les femmes et les hommes qui œuvrent au sein de la fiduciaire aiment leur métier et s’appuient sur une formation comptable
      supérieure.
    </p>
    <p class="text-justify">
      Dans cette même optique d’<strong>exigences</strong> et de <strong>connaissances</strong>, les collaborateurs bénéficient d’une <strong>formation constante</strong> et
      d’équipements informatiques à la pointe de la technologie.
    </p>
    <p class="text-justify">
      Notre position de consultant permet une <strong>indépendance</strong> et une neutralité indispensables afin de privilégier, en toute objectivité,
      <strong>l’intérêt de nos Partenaires</strong>.<br />
      Notre pragmatisme nous engage à apporter des <strong>solutions concrètes et réalistes</strong> dont nous suivons la mise en œuvre et la
      réalisation.<br />
      Cette méthodologie de travail est indispensable afin de pérenniser une <strong>relation de confiance</strong> entre le Partenaire et la fiduciaire.
    </p>
    <p class="text-justify">
      <strong>Polyvalents</strong>, nous sommes bien placés pour éclairer les choix de l’entrepreneur dans ses <strong>projets</strong> et faire, avec lui, la synthèse des
      contraintes humaines, comptables, financières, juridiques et fiscales auxquelles il est confronté.
    </p>
    <p class="text-justify">
      Dans la mesure où cela se justifie, des <strong>collaborations</strong> sont nouées avec d’autres professionnels, tels qu’avocats, notaires, autres
      professionnels du chiffre,... A cet effet, nous sommes membre du <strong>groupe multidisciplinaire</strong> Phoenix Union geie.
    </p>
  </div>
  <div class="row justify-content-around my-2">
    <div class="card mb-3" style="width: 300px;">
      <img class="card-img-top" src="{% static "img/alberto_struglia.jpeg" %}" alt="Alberto Struglia" />
      <div class="card-body">
        <h5 class="card-title">STRUGLIA Alberto R.</h5>
        <p class="card-text text-center">Expert-comptable externe<br />Conseil fiscal externe<br />Membre I.E.C. n° 7395 2 F 48</p>
        <a href="https://www.linkedin.com/in/alberto-struglia-514a81114" target="_blank" class="btn btn-default linkedin-btn">LinkedIn</a>
      </div>
    </div>
    <div class="card mb-3" style="width: 300px;">
      <img class="card-img-top" src="{% static "img/stefano_struglia.jpeg" %}" alt="Stefano Struglia" />
      <div class="card-body mt-5">
        <h5 class="card-title">STRUGLIA Stefano</h5>
        <p class="card-text text-center">Comptable externe<br />Stagiaire Expert-Comptable et Conseil fiscal externe</p>
        <a href="https://www.linkedin.com/in/stefano-struglia-646186b0" target="_blank" class="btn btn-default linkedin-btn">LinkedIn</a>
      </div>
    </div>
  </div>
</div>
{% endblock presentation %}
