{% extends 'home/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "css/services.css" %}"></link>{% endblock %}

{% block services %}
<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4 mx-3 my-1 services">
      <h4>EXPERTISE</h4>
      <ul>
        <li>
          Tenue et contrôle de la compatibilité
        </li>
        <li>
          Établissement des comptes annuels
        </li>
        <li>
          Établissement de situations périodiques
        </li>
      </ul>
    </div>
    <div class="col-md-4 mx-3 my-1 services">
      <h4>COMPTABILITE</h4>
      <ul>
        <li>
          Tenue et contrôle de la compatibilité
        </li>
        <li>
          Établissement des comptes annuels
        </li>
        <li>
          Établissement de situations périodiques
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 mx-3 my-1 services">
      <h4>FISCALITE</h4>
      <ul>
        <li>
          Tenue et contrôle de la compatibilité
        </li>
        <li>
          Établissement des comptes annuels
        </li>
        <li>
          Établissement de situations périodiques
        </li>
      </ul>
    </div>
    <div class="col-md-4 mx-3 my-1 services">
      <h4>JURIDIQUE</h4>
      <ul>
        <li>
          Tenue et contrôle de la compatibilité
        </li>
        <li>
          Établissement des comptes annuels
        </li>
        <li>
          Établissement de situations périodiques
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 mx-3 my-1 services">
      <h4>ORGANISATION</h4>
      <ul>
        <li>
          Tenue et contrôle de la compatibilité
        </li>
        <li>
          Établissement des comptes annuels
        </li>
        <li>
          Établissement de situations périodiques
        </li>
      </ul>
    </div>
    <div class="col-md-4 mx-3 my-1 services">
      <h4>GESTION</h4>
      <ul>
        <li>
          Tenue et contrôle de la compatibilité
        </li>
        <li>
          Établissement des comptes annuels
        </li>
        <li>
          Établissement de situations périodiques
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock services %}
