.col-services {
  display: flex; 
  flex-direction: column;
}

#cofiren-logo {
  display: flex;
}

#description {
  display: flex; 
  margin: auto;
}

#desktop-format {
  display: flex;
}

#mobile-format {
  display: none;
}

@media (max-width: 992px) {

  #desktop-format {
    display: none;
  }

  #mobile-format {
    display: flex;
  }

  .services:hover {
		transform: scale(1.1);
	}

  .services {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .hexa:hover {
    transform: scale(1.1);  
  }

}
