.services {
	border: 0.3rem solid;
	color : #002060;
  margin : 1rem;
}

.services h4 {
	text-align: center;
}

@media (min-width: 992px) {

  .services:hover {
		transform: scale(1.1);
	}

  .services {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}
