body
{
	background-color: #F4F4F4;
}

.header
{
	background-color: #F4F4F4;
}

/* services */

.services
{
	border: 3px solid;
	color : #002060;
}

.services h4
{
	text-align: center;
}

/* button */

.btn.linkedin-btn
{
	background-color: #002060;
	color: #ecf0f1;
}

.btn.send-btn
{
	background-color: #002060;
	color: #ecf0f1;
}

/* icon */

.material-icons.nav-phone
{
	color: #002060;
	font-size: 24px;
}

.material-icons.nav-mail
{
	color: #002060;
	font-size: 24px;
}

.material-icons.contact-phone
{
	color: #002060;
	font-size: 18px;
}

.material-icons.contact-mail
{
	color: #002060;
	font-size: 18px;
}

/* css nav */

.navbar-collapse {
  text-align: center;
}

.navbar {
  background-color: #002060;
}

.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecf0f1;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ecf0f1;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ecf0f1;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecf0f1;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecf0f1;
  background-color: #2f497d;
}
.navbar .navbar-toggle {
  border-color: #2f497d;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #2f497d;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ecf0f1;
}
